.loader {
  display: block;
  border: 5px solid #f0f0f0;
  border-top: 5px solid #06315c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background-color: #d1d8e0;
}

.bg-primary{
  background-color: #e5dcdc;
}
.navbar-brand {
  border: 2px solid #99a9af;
  border-radius: 10px;
  font-weight: bold; /* Make the navbar brand text bold */
}
.navbar-toggler {
  border-color: #fff;
 /* White color for the toggler icon border */
}
.nav-link {
  color: #ffffff;
  border: 2px solid #99a9af;
  border-radius: 10px;
  margin-right: 5px;
   /* White color for nav links */
}
.nav-link.active {
  font-weight: bold; /* Make active nav link text bold */
}

.container{
  display: block;
  flex-wrap: wrap;
}

.mainHome{

}
